@use "../abstract/mixins" as *;

header {
  align-items: center;
  padding-block: 1rem;

  @include mobile {
    .link {
      display: none;
    }
  }

  .logo a {
    display: inline-block;
    color: white;
    font-weight: 600;
    text-decoration: none;
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;
  }

  .link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }

  .spacer {
    flex-grow: 1;
  }
}
