@use "../abstract/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 60vh;
  color: white;
}

span {
  font-weight: 600;
  padding-bottom: 1rem;
}

h1 {
  font-size: $font-heading-xs;
}

p {
  font-size: $font-subheading;
  padding: 1rem 0;
  text-decoration: underline;
}

.link-container {
  display: flex;
  padding-top: 1rem;
  gap: 0.5rem;
}
