@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.hero {
  text-align: center;
  background: $background-gradient;
  border-bottom: 1px solid rgba(247, 247, 247, 0.2);
  padding: 5rem 0;

  h1 {
    font-size: $font-heading;
    padding-bottom: 0.25em;
  }

  p {
    color: rgba(247, 247, 247, 0.8);
    max-width: 60ch;
    margin: 0 auto;
  }
}

.contact--section {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include tablet {
    grid-template-columns: 1fr;

  }
}

form {
  max-width: 30rem;

  h2 {
    color: white;
  }

  label {
    cursor: pointer;
    font-weight: 500;
    margin: 1.5rem 0 0.25rem 0;
    display: inline-block;
  }

  label,
  input,
  textarea {
    color: white;
  }

  input,
  textarea {
    width: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.11);
    border: 1px solid rgba(247, 247, 247, 0.2);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }

  textarea {
    resize: none;
    height: auto;
  }

  .error-message {
    color: white;
  }

  .button {
    margin-top: 1.5rem;
  }
}


.socials--container {
  border-left: 1px solid $border-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  position: relative;
  overflow: hidden;

  a {
    display: flex;
    align-items: center;

    color: $color-text-muted;
    font-weight: 600;

    margin-top: 1rem;
    padding: .5rem 1rem;

    border: 1px solid $border-color;
    border-radius: .25rem;

    &:first-of-type {
      margin-top: 0;
    }

    svg {
      width: 2.25rem;
      padding-right: 1rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    left: 0;
    top: -5rem;
    bottom: -5rem;
    right: 0;

    transform: translateX(-50%);
    background: radial-gradient($background-color, transparent 60%);
  }
}