@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.hero {
  background: $background-gradient;
  border-bottom: 1px solid rgba(247, 247, 247, 0.2);
  padding-top: 4rem;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  h1 {
    font-size: $font-heading;
    line-height: 1;
  }

  p {
    font-size: $font-subheading;
    color: $clr-neutral-400;
    padding: 1.5rem 0;
    max-width: 60ch;
  }

  .visit-link {
    margin-right: 0.5rem;
  }

  img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;

    @include mobile {
      height: 15rem;
    }
  }
}
