@use "../abstract/variables" as *;

.hero {
  text-align: center;
  background: $background-gradient;
  border-bottom: 1px solid rgba(247, 247, 247, 0.2);
  padding: 5rem 0;

  h1 {
    font-size: $font-heading;
    padding-bottom: 0.25em;
  }

  p {
    color: rgba(247, 247, 247, 0.8);
    font-size: $font-subheading;
    max-width: 60ch;
    margin: auto;
  }
}

.project-section {
  padding-top: 5rem;
}