@use "./fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body: #03000a;
  --border-color: rgba(247, 247, 247, 0.2);
  --background-accent: rgba(212, 153, 237, 0.05);

  --foreground-muted: rgba(247, 247, 247, 0.9);
}

html {
  color-scheme: dark;
}

body {
  background-color: var(--body);
  overflow-y: scroll;
}

svg,
path {
  fill: currentColor;
}