.gradient-text {
  background: linear-gradient(100.02deg, #8e84ff 0%, #d499ed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

svg path {
  fill: currentColor;
}

.button {
  background-color: rgba(247, 247, 247, 0.11);
  border: 1px solid rgba(247, 247, 247, 0.11);
  color: white;
  text-decoration: none;
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
  padding: 0.75rem 1.25rem;
  font-weight: 600;
}

.button.primary {
  background-color:white;
  border: 1px solid white;
  color: black;
}