@use "../../abstract/variables" as *;

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > div {
    flex: 1 1 30rem;
  }
}

h2 {
  font-size: 2.5rem;
  color: $color-title;
  padding-bottom: .75rem;
}

p {
  color: $color-text-muted;
  line-height: 1.6;
}

.cta {
  padding-top: 2rem;

  .button + .button {
    margin-left: .5rem;
  }
}

.technologies {
  position: relative;
  overflow: hidden;
  height: 20rem;

  &::before,
  &::after,
  {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 5rem;
    z-index: 1;
  }

  &::before {
    background: linear-gradient(#03000a, transparent);
    top: 0;
  }

  &::after {
    background: linear-gradient(transparent, #03000a);
    bottom: 0;
  }
}

@keyframes left-to-right {
  from {
    transform: translateX(-250%);
  }

  to {
    transform: translateX(50%);
  }
}

@keyframes top-bottom {
  from {
    top: 100%;
    transform: translateY(100%);
  }
  to {
    top: 0;
    transform: translateY(-100%);
  }
}

.icon--animation {
  animation: 1s top-bottom infinite linear;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 8rem;
  height: 8rem;
}

.icon--container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: 1ms left-to-right infinite ease-out;
  animation-duration: inherit;
  animation-delay: inherit;

  background-color: rgba(white, 0.1);
  border: 1px solid rgba(white, 0.1);
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;

  svg {
    width: 5rem;
  }

  svg path,
  svg polygon {
    fill: #78767C !important;
  }

  svg .alt {
    fill: #504F54 !important;
  }
}

