header {
  align-items: center;
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;

  @media screen and (max-width: 35rem) {
    .link {
      display: none;
    }
  }

  .logo a {
    display: inline-block;
    color: white;
    font-weight: 600;
    text-decoration: none;
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;
  }

  .link {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
  }

  .spacer {
    flex-grow: 1;
  }
}
