@use "../abstract/mixins" as *;

.container {
  max-width: 90rem;
  width: 90%;
  margin: 0 auto;
}

.gradient-text {
  background: linear-gradient(100.02deg, #8e84ff 0%, #d499ed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  text-decoration: none;
  padding: 0.75em 1.25em;
  border-radius: 2rem;

  color: white;
  background-color: rgba(247, 247, 247, 0.11);
  border: 1px solid rgba(247, 247, 247, 0.11);

  @include tablet {
    font-size: 0.875rem;
  }
}

.button.primary {
  background-color: white;
  border: 1px solid white;
  color: black;
}
